*{
    margin: 0;
    padding: 0;
    font-family: 'Acme', sans-serif;
}
html{
    font-size: 80%;
}
body{
    background-color: rgb(87, 148, 128);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
}
.container{
    width: 70%;
    margin: auto;
    text-align: center;
}
.dice{
    display: inline-block;
    text-align: center;
}
h1{
font-size: 10rem;
text-shadow: 5px 5px white;
color:yellow;
}
p{
    font-size:3rem;
    color: white;
    text-shadow: 2px 2px black;
}
button{
    border: none;
    margin-top:2rem;
    padding:1rem;
    color:white;
    background:rgb(20, 68, 52);
    cursor: pointer;
}
img{
    width:70%;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    html{
        font-size: 20%;
    }
    .container{
        width: 20%;
    }
    .dice{
        display: inline;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    html{
        font-size:40%;
    }
    .container{
        width: 30%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
   
}

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {} */
